.body {
    margin: none;
    background-color: #000;
}

.info {
    background-color: white;
    padding: 1%;
}

.info h2{
    text-align: center;
    font-size: 2vw;
}

.key {
    line-height: 2.8em;
}

.key_double > * {
    padding-top: 0.1em;
}

.keyboard {
    
    text-align: center;
    font-size: 1.25vw;
    font-family: sans-serif;
    background-color: #f8f8f8;
    border-radius: 1em;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.keyboard-wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
}

.keyboard > .keyrow {
    text-align: center;
}


.keyword > * {
    font-size: 0.8em;
}

.keyboard-name {
    background-color: white;
    text-align: center;
    font-size: 4vw;
    padding: 1%;
    margin: 0%;
}

.keyrow {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyrow > * {
    position: relative;
    background: rgb(255, 255, 255);
    text-align: center;
    color: #000;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    border: 1px solid #000;
    border-bottom : #a0a0a0;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    box-shadow: 0 0.2em 0 0.05em #a8a8a8;
}

.keyrow > div[caps-on],
.keyrow > div:active {
    box-shadow: 0 0.2em 0 0.05em #a09eff;
    border: 2px solid #a09eff;
}

.keyrow > div[data-pressed],
.keyrow > div:active {
    background: #ff9e9e;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.kw1 {
    width: 6em;
}

.kw2 {
    width: 6.5em;
}

.kw3 {
    width: 8.3em;
}

.kw4 {
    width: 21.5em;
} 

.table {
    background-color: rgba(255, 192, 203, 0.336);
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
}

.table h1 {
    font-size: 1.5vw;
    text-decoration: underline;
}

.table .date {
    font-size: 1vw;
    font-weight: 500;
}

.table .efficiency {
    font-size: 2vw;
    font-weight: 700;
}

.table-col {
    width: 100%;
    text-align: center;
}

.table-row {
    display: flex;
}